/* General styling */

/* OPTION 1 */
h2 {
  color: rebeccapurple;
}

h3 {
  font-style: italic;
  color: rebeccapurple;
}

/* OPTION 2 */
h2, h3 {
  color: rebeccapurple;
}

h3 {
  font-style: italic;
}





img {
  max-height: 150px;
  border-radius: 20px;
  background-color: white;
}


/** Header Sectoin **/

header {
  font-family: 'Helvetica';
  color: white;
  background-color: rebeccapurple;
  padding: .5em;
  margin-bottom: 1em;
}


/* p, h2, .nav-bar {
  font-size: 18px;
  color: green;
} */

li:nth-of-type(2n) {
  background-color: yellow;
}



/** About section ** /

/* elements with class="about-section" */
.about-section {
  background-color: #eee;
  padding: .25em .5em;
}

.about-section p:hover {
  font-size: 20px;
}

